<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= animal.species %></title>
</head>
<body>
    <nav>
        <a href="/animals">Head back to the whole list of animals!</a>
    </nav>
    <h1>Species: <%= animal.species %></h1>
    
    <h2>Extinct: <%= animal.extinct %></h2>
    <h2>Location: <%= animal.location %></h2>
    <h2>Life Expectancy: <%= animal.lifeExpectancy %> years</h2>
    
</body>
</html>